@using MvcCv.Models.Entity
@model List<TblHobby>

<div class="resume-section-content">
    <h2 class="mb-5">Hobilerim</h2>
    @foreach (var item in Model)
    {
    <h4>@item.Description1</h4>
    <p class="mb-0">@item.Description2</p>
    }
</div>