
@{
    ViewBag.Title = "AddAdmin";
    Layout = "~/Views/Shared/_Adminlayout.cshtml";
}
<br />
<h2>Yeni Kullanıcı Ekle</h2>
<br />
<form method="post">
    <input class="form-control" type="text" name="Username" placeholder="Kullanıcı adını yazınız" />
    <br />
    <input class="form-control" type="text" name="Sifre" placeholder="Şifre" />
    <br />
    <button class="btn btn-primary" type="submit">Kullanıcı Ekle</button>
</form>


