
@{
    ViewBag.Title = "AddSkill";
    Layout = "~/Views/Shared/_Adminlayout.cshtml";
}

<br />
<h2>Yeni Yetenek Ekle</h2>
<br />
<form method="post">
    <input class="form-control" type="text" name="Skill" placeholder="Yeteneği yazınız" />
    <br />
    <input class="form-control" type="text" name="Rate" placeholder="Yetenek derecesini giriniz" />
    <br />
    <button class="btn btn-primary" type="submit">Ekle</button>
</form>



