
@{
    ViewBag.Title = "AddCertificate";
    Layout = "~/Views/Shared/_Adminlayout.cshtml";
}

<br />
<h2>Yeni Sertifika Ekle</h2>
<br />
<form method="post">
    <textarea placeholder="Açıklama" name="Description" class="form-control" rows="4"></textarea>
    <br />
    <input class="form-control" type="text" name="Date" placeholder="Tarih" />
    <br />
    <button class="btn btn-primary" type="submit">Sertifika Ekle</button>
</form>

